<div class="express-dealt p15 pageContent" ng-controller="watterCitySKUManageCtrl">

    <div class="pagetitle">城市SKU管理</div>

    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control ui-select-width" placeholder="商品编号">
        </div>
        <div class="form-group">
            <input type="text" class="form-control ui-select-width" placeholder="商品名称">
        </div>
        <div class="form-group">
            <input type="text" class="form-control ui-select-width" placeholder="品牌名称">
        </div>
    </div>

    <div class="form-inline mt20">
        <div class="form-group ui-select-width">
            <ui-select ng-model="statu.selected" >
                <ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices  repeat="item in status | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group ui-select-width">
            <ui-select ng-model="statu.selected" >
                <ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices  repeat="item in status | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group ui-select-width">
            <ui-select ng-model="statu.selected" >
                <ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices  repeat="item in status | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-info">清空</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-info mr10">查询</button>
        </div>
    </div>

    <div class="mt20 mb10 well well-info">
        <button type="button" class="btn btn-info">新增</button>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>商品编号</th>
                <th>商品品牌</th>
                <th>商品名称</th>
                <th>业务类别</th>
                <th>单位</th>
                <th class="red">城市价/元</th>
                <th class="red">押金/元</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>凯旋豪庭</td>
                <td>北京</td>
                <td>东城区</td>
                <td>BJ00001</td>
                <td>凯旋豪庭</td>
                <td>北京</td>
                <td>东城区</td>
                <td>东城区</td>
                <td>东城区</td>
                <td><a ui-sref="boss.organization-network-detail">修改</a> <a ui-sref="boss.organization-network-deployed">失效</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>凯旋豪庭</td>
                <td>北京</td>
                <td>东城区</td>
                <td>凯旋豪庭</td>
                <td>北京</td>
                <td>东城区</td>
                <td>凯旋豪庭</td>
                <td>北京</td>
                <td>东城区</td>
                <td><a ui-sref="boss.organization-network-detail">修改</a> <a ui-sref="boss.organization-network-deployed">失效</a></td>
            </tr>
            </tbody>
        </table>
    </div>


</div>