<div class="container-fluid pageContent" ng-controller="WatterAppointmentListCtrl">
    <style>
        .form-group{padding: 0 20px 20px 0;}
    </style>
    <div class="pagetitle">预约订单 </div>
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control"  placeholder="用户编号">
        </div>
        <div class="form-group">
            <input type="text" class="form-control"  placeholder="用户手机号">
        </div>
        <div class="form-group">
            <input type="text" class="form-control"  placeholder="提交时间">
        </div>
        <div class="form-group">
            <input type="text" class="form-control"  placeholder="预约时间">
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <ui-select ng-model="statu.selected" >
                <ui-select-match placeholder="品牌名称">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices  repeat="item in status | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <ui-select ng-model="statu.selected" >
                <ui-select-match placeholder="订单状态">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices  repeat="item in status | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <ui-select ng-model="statu.selected" >
                <ui-select-match placeholder="领单管家">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices  repeat="item in status | filter: $select.search">
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-info">查询</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-info">清空</button>
        </div>


    </div>

    <div class="container-fluid btn-place">
        <a ui-sref="business.water-appointment-add" class="btn btn-info">新增</a>
    </div>
<d-table>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>预约订单编号</th><th>手机号</th><th>小区名称</th><th>房间号</th><th>预约时间</th><th>品牌</th><th>商品名称</th><th>送水数量</th><th>回桶数</th><th>收到押金</th><th>领单管家</th><th>支付方式</th><th>状态</th><th>提交时间</th><th>等待时间</th><th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in tabledata">
            <td ng-repeat="cell in row">
                {{cell}}
            </td>
            <td>
                <a ui-sref="business.water-appointment-detail">详情</a>
            </td>
        </tr>
        </tbody>
    </table>
</d-table>
</div>
